{{}}
<div class="profile-img"></div>
<nav><ul class="nav justify-content-center">
    <li class="nav-item">
        <a class="nav-link" href="#">home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Bio</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Shows</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Video</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Phots</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
    </li>
</ul></nav>